<?xml version="1.0"?>
<robot name="lite6_omx">
	<link name="base_link">
		<visual>
			<geometry>
				<mesh filename="package://lite6_omx/description/meshes/visual/base_link.stl" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<mesh filename="package://lite6_omx/description/meshes/collision/base_link.stl"/>
			</geometry>
		</collision>
		<inertial>
			<origin xyz="-0.00829544579053192 3.26357432323433E-05 0.0631194584987089" rpy="0 0 0" />
			<mass value="1.65393501783165" />
			<inertia
          ixx="0" ixy="0" ixz="0"
          iyy="0" iyz="0" izz="0" />
		</inertial>
	</link>
</robot>
